        <style>
            html *
            {
                font-family: Arial !important;
            }
            body, html {
                margin: 0;
                padding: 0;
                height: 100vh;
                overflow: hidden;
                font-family: Arial;
            }

            form {
                height: 60px;
                width: 100%;
                display: flex;
                border: 1px solid #ccc;
                border-radius: 10px;
            }

            input[type="text"] {
                flex: 1;
                padding: 10px;
                box-sizing: border-box;
                outline: none;
                border: none;
                border-radius: 10px;
            }

            button {
                padding: 10px;
                box-sizing: border-box;
                border: none;
                cursor: pointer;
                background-color: transparent;
                color: black;
            }

            p {
                margin: 5px 0;
                word-wrap: break-word;
            }

            .round-img {
                border-radius: 10px;
            }

            .chat-img {
                width: 30px;
                height: 30px;
                border-radius: 10px;
            }

            .template-container {
                display: flex;
                height: 100vh;
                width: 100%;
            }

            .sidebar-container {
                flex: 0 0 300px;
                height: 100vh;
            }

            .sidebar-header {
                flex: 1;
            }

            .initial-chat-question
            {
                font-size: 28px;
            }

            .sidebar {
                display: flex;
                flex-direction: column;
                height: 100vh;
                overflow: hidden;
                box-sizing: border-box;
                padding: 20px;
                justify-content: space-between;
            }

            .sidebar-bottom {
                flex: none;
            }

            .center-content-view {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #efeef4;
            }

            .content-view {
                height: 100vh;
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .content-area-chat-box {
                display: flex;
                flex: 0 0 auto;
                margin: 30px 0;
                width: 100%;
            }

            .chat-content-initial-state {
                text-align: center;
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100vh;
            }

            .center-image-text {
                display: flex;
                align-items: center;
                margin: 0 0 10px 0;
                padding: 0px;
            }

            .image-text {
                margin: 0 0 0 10px;
            }

            .response-item-collection {
                margin: 40px 10px;
                display: flex;
                overflow-y: auto;
                overflow-x: hidden;
                flex-direction: column;
                flex: 1;
                width: 100%;
                scrollbar-color: #777 #ccc;
                scrollbar-width: thin;
            }

			.recommendation-item {
			    display: inline-block;
				margin: 10px;
				cursor: pointer;
				max-width: 160px;
				background: #ccc;
				border-radius: 10px;
			}

            .recommendation-item-title
            {
                word-wrap: break-word;
                text-align: center;
                height: 50px;
                margin: 0;
                padding: 5px;
            }

            .recommendation-item-price
            {
                text-align: center;
                color: #555;
                font-size: small;
            }

            .additional-info {
                display: none;
                margin: 10px 0 20px 0;
            }

            .additional-info-text-center {
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .additional-info-content
            {
            	hyphens: auto;
	            text-align: justify;
	            width: 90%;
            }

            .response-item {
                margin: 0 0 25px 0;
            }

            .recommendation-image {
                border-radius: 10px 10px 0 0;
                width: 160px;
                height: 90px;
            }

            .response-item-header {
            }

            .response-item-content-llm {
            }

            .response-item-content-user {
            }

            .response-divider {
                height: 2px;
                color: #B2ACBD;
                background-color: #B2ACBD;
                width: 100%;
                border-width:0;
                margin: 0 0 30px 0;
            }

            #loader {
              width: 20px;
              height: 20px;
              border: 8px solid #ccc;
              border-radius: 50%;
              border-top: 8px solid #777;
              -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
              padding: 10px;
              margin: 10px 0 0 0;
              box-sizing: border-box;
              background-color: transparent;
            }

            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
        </style>