<html lang="en">
<head>
    <title>TIH LLM Demo</title>
    <style>
        .center {
            display: flex;
            flex-direction: column;
            justify-content: flex-start; 
            align-items: center; 
        }
        .response {
            white-space: pre-line;
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="center">
        <form action="/" method="post">
            <label for="user_input">Enter your query:</label><br>
            <input type="text" id="user_input" name="user_input" {% if user_query %} value="{{user_query}}"" {% endif %}>

            <!-- <textarea id="user_input" name="user_input" rows="4" cols="50"></textarea><br> -->
            
            <input type="submit" value="Submit">
        </form>
        {% if llm_answer %}
        <div class="response">
            </pre>{{ llm_answer }}</pre>
        </div>
        {% endif %}
    </div>
</body>
</html>
