<!DOCTYPE html>
<html lang="en">
    <div class="response-item-content">
        <pre class="pre-content">{{ conversation['content'] }}</pre>
        <!--WIP <h3>{{ conversation['content']['title'] }}</h3>
        <pre class="pre-content">{{ conversation['content']['description'] }}</pre>
        <img src="{{ conversation['content']['image'] }}"/>
        <div>999$</div>
        <div>
            Website: <a href="{{ conversation['content']['website'] }}"></a>
        </div>
        <div>
            Rating: {{ conversation['content']['rating'] }}
        </div>
    </div>-->
</html>