        {% if conversations %}
        <div class="response-item-collection">
            {% for conversation in conversations: %}
            {% include 'response_item.html' %}
            {% if not loop.last  %}
            <hr class="response-divider">
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="chat-content-initial-state">
            <img src="static/sg-flag.svg" alt="SVG Image">
            <p class="initial-chat-question">Personalize your recommendations!</p>
            <p class="initial-chat-question">How can we assist you?</p>
        </div>
        {% endif %}