<!DOCTYPE html>
<html lang="en">
    {% if 'content' in conversation or 'response_data' in conversation %}
    {% if conversation['role'] != 'tool' %}
    <div class="response-item">
        {% if conversation['role'] == 'user' %}
        <div>
            {% include 'response_item_header_user.html' %}
        </div>
        {% else %}
        <div>
            {% include 'response_item_header_llm.html' %}
        </div>
        {% endif %}
        <div>
            {% include 'response_item_content.html' %}
        </div>
    </div>
    {% endif %}
    {% endif %}
</html>