<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="sidebar">
            <div class="header">
                <div class="center-image-text">
                    <img class="round-img" src="static/tg-travel-icon.png" alt="SVG Image">
                    <h4 class="image-text">SG Travel and Tours</h4>
                </div>
            </div>
            <div class="bottom">
<!--                <div >
                    <p>Profile</p>
                    <p>Partners</p>
                    <p>Accommodations</p>
                    <p>Resturatnts</p>
                </div>-->
                <div class="settings">
                    <div class="center-image-text">
                        <img src="static/settings.svg" alt="SVG Image">
                        <p class="image-text">Settings</p>
                    </div>
                    <div class="center-image-text">
                        <img src="static/exit.svg" alt="SVG Image">
                        <p class="image-text">Logout</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

